<h1> HOMEPAGE <h1><br>
<h3>LINKS</h3>


<h4><a href="/userslist">USERLIST</a></h4>
DISPLAYS ONLY WHEN USER IS ADMIN<br>
SHOWS USERLIST AND BILLS, MESSAGES ETC.


<h4><a href="/bills">BILLS</a></h4>
Shows current users bills<br>
If admin is logged in shows ALL bills<br>
Only admin can create, delete, edit bills <br>
users can only view <br>

<h4><a href="/messages">MESSAGES</a></h4>
Shows inbox of LOGGED IN USER<br>
atchan ang outbox<br>
ADMIN CAN ONLY VIEW HIS OWN INBOX<br>
NO ONE CANT EDIT

<h4><a href="announcements">ANNOUNCEMENTS</a></h4>

